/* You can add global styles to this file, and also import other style files */
nav{
    margin-bottom: 3%;
}

footer{
    width: 100%;
    position: absolute;
    bottom: 0px;
}

h3{
    text-align: center;
}