<h3 class="mb-5">Boutique</h3>

<div *ngIf="piments.length > 0">
    <div class="row">
        <div class="col-4 offset-4">
            <div class="form-group mb-5">
                <label for="exampleSelect1" class="form-label mt-4">Catégorie</label>
                <select class="form-select" [(ngModel)]="search" name="categorie" id="exampleSelect1"
                    (change)="searchResult()">
                    <option>tout</option>
                    <option>light</option>
                    <option>medium</option>
                    <option>hot</option>
                    <option>extreme</option>
                    <option>elemental</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-4">
            <h5>Sauces</h5>
            <table>
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prix</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let sauce of saucesSorted;let i = index">
                        <td class="text-info link">{{sauce.nom}}</td>
                        <td>{{sauce.prix}}€</td>
                        <td><button (click)="add(sauce)" class="btn btn-outline-info">+</button></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-5">
            <h5>Piments pur</h5>
            <table>
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>prix</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let piment of pimentsSorted;let i = index">
                        <td (click)="goToArticleDetails(piment.id)" class="text-info link">{{piment.nom}}</td>
                        <td>{{piment.prix}}€</td>
                        <td><button (click)="add(piment)" class="btn btn-outline-info">+</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-3">
            <div class="card border-info mb-3" style="max-width: 20rem;">
                <div class="card-header text-center text-info">
                    <p><b>Panier</b></p>
                    <p><b>total: {{totalPanier}}€ - articles : {{panierItem ? panierItem.length : 0}}</b></p>
                </div>
                <div class="card-body">
                    <table>
                        <tbody>
                            <tr *ngFor="let piment of panierItem;let i = index">
                                <td>{{piment.nom}}</td>
                                <td><button (click)="delete(i,piment.prix)" class="btn btn-outline-info">-</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

    <div *ngIf="piments.length == 0">
        <div class="text-center">
          <p style="color:red;">Erreur lors du chargement de la page..</p>
        </div>
      </div>